{{define "main"  }}

<main class="project">

    {{/*  HERO  */}}
    <section class="hero fade-in">
        <div class="hero__text" data-aos="fade-right">
            <h4 class="hero__text--type">{{ .Params.typeOf}}</h4>
            <h1 class="hero__text--title">{{ .Title }}</h1>
            <h3 class="hero__text--description">{{.Description}}</h3>
        </div>
        <div data-aos="fade-left">
            <img class="hero--img" src="{{ .Params.mockup }}" alt="ISS Homepage">
            <h4 class="hero--link"><a href={{ .Params.liveLink }} target="blank">View Live Site 🚀</a></h4>
        </div>
    </section>

    {{/*  BRIEF CONTAINER  */}}
    <section class="brief-container" data-aos="fade-up">
        <div class="text-block">
            <h2 class="text-block--title">{{ .Params.brief.overview}}</h2>
            <p class="text-block--para">{{ .Params.brief.background }}</p>
        </div>

        {{/*  info snippets  */}}
        <div class="brief-container__bites" data-aos="fade-up">
            <div class="brief-container__bites__section">
                <h3 class="brief-container__bites--title">Technologies</h3>
                <ul class="brief-container__bites__bullets">
                    {{ range .Params.technologies }}
                    <li class="brief-container__bites__bullets--item">{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
            <div class="brief-container__bites__section">
                <h3 class="brief-container__bites--title">What I Learned</h3>
                <ul class="brief-container__bites__bullets">
                    {{ range .Params.thingsLearned }}
                    <li class="brief-container__bites__bullets--item">{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
            <div class="brief-container__bites__section">
                <h3 class="brief-container__bites--title">Date</h3>
                <ul class="brief-container__bites__bullets">
                    <li>{{ .PublishDate.Format "Mon Jan 2 2006" }}</li>
                </ul>
                <h3 class="brief-container__bites--title">Codebase</h3>
                <ul class="brief-container__bites__bullets">
                    <li><a href="{{ .Params.codebase }}" target="blank">Github</a></li>
                </ul>
            </div>
        </div>
    </section>

    {{/*  THE SITUATION  */}}
    <section class="situation context" data-aos="fade-up">
        <h4 class="sm-head">The Situation</h4>
        <h1 class="block-text">{{ .Params.situation }}</h1>
    </section>

    <div class="text-block" data-aos="fade-up">
        <h2 class="text-block--title">{{ .Params.solution.title}}</h2>
        <p class="text-block--para">{{ .Params.solution.body }}</p>
    </div>

    {{/*  SCOPE  */}}
    <section class="scope" data-aos="fade-up">
        <h2 class="scope--title">Scope</h2>

        <div class="scope__sections">
            <div class="scope__section">
                <h3 class="scope__sections__section--title">Discovery</h3>
                <ul class="scope__sections__section__bullets">
                    {{ range .Params.scope.discovery }}
                    <li class="scope__sections__section__bullets--item">{{ . }}</li>
                    {{ end }}
                </ul>
            </div>

            <div class="scope__section">
                <h3 class="scope__sections__section--title">Strategy</h3>
                <ul class="scope__sections__section__bullets">
                    {{ range .Params.scope.strategy }}
                    <li class="scope__sections__section__bullets--item">{{ . }}</li>
                    {{ end }}
                </ul>
            </div>

            <div class="scope__section">
                <h3 class="scope__sections__section--title">Design</h3>
                <ul class="scope__sections__section__bullets">
                    {{ range .Params.scope.design }}
                    <li class="scope__sections__section__bullets--item">{{ . }}</li>
                    {{ end }}
                </ul>
            </div>

            <div class="scope__section">
                <h3 class="scope__sections__section--title">Development</h3>
                <ul class="scope__sections__section__bullets">
                    {{ range .Params.scope.development }}
                    <li class="scope__sections__section__bullets--item">{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>

    </section>

    {{/*  THE PROCESS  */}}
    <section class="process" data-aos="fade-up">

        {{/*  Intro  */}}
        <section class="process__00">
            <h4 class="sm-head">The Process</h4>
            <h1 class="block-text">Building Smart</h1>
            <p>There is more to design and web development than the mere process of what one sees as the final product.
                Far before any visual interface is conceived, I meet and collaborate with the client to better
                understand their goals. Armed with this knowledge, I am able to build smart– incorporating business
                needs as well as design aesthetics and modern web architecture and technologies to solve the most
                important needs for the client.</p>

            <div class="process__00__block">
                <div class="process__00__block__cards">

                </div>
                <div class="process__00__block__descriptions">
                    <ul class="process__00__block__descriptions__single list">
                        <h3 class="process__00__block__descriptions__single--title list--title">01. Client Requirements/
                            Goals</h3>
                        <p class="process__00__block__descriptions__single--description">The process begins with
                            understanding the unique
                            needs and goals of the client. To accomplish this, I will
                            meet with the client at a local coffee shop or talk/
                            video call. After this initial meeting, I can better assess
                            the client requirements and therefore build a better
                            solution.
                        </p>
                    </ul>
                </div>
            </div>
        </section>

        {{/*  01  */}}
        <section class="process__01" data-aos="fade-up">

            <div>
                <h4 class="sm-head">01. Client Requirements & Goals</h4>
                <h1 class="block-text">Setting the Stage</h1>
                <p>{{ .Params.process.step1 }}</p>
            </div>

            <div class="process__01__blocks">
                <div class="process__01__blocks__block">
                    <ul class="list">
                        <h3 class="list--title">Problems/ goals</h3>
                        {{ range .Params.goals }}
                        <li class="list--item">{{ . }}</li>
                        {{ end }}
                        <h5 class="footnote">{{ .Params.goalsFootnote }}</h5>
                    </ul>
                </div>

                <div class="process__01__blocks__block">
                    <ul class="list">
                        <h3 class="list--title">Solutions/ features</h3>
                        {{ range .Params.goals }}
                        <li class="list--item">{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </section>

        {{/*  02  */}}
        <section class="process__02" data-aos="fade-up">
            <h4 class="sm-head">02. Inspiration</h4>
            <h1 class="block-text">Looking Abroad</h1>
            <p>{{ .Params.process.step2 }}</p>

            <div class="process__02__moodboard">
                <h2 class="process__02__moodboard--title">Moodboard</h2>
                <img src="https://miro.medium.com/max/3492/1*6843dZOcv-1Ick9i9Kt_pg.png" alt="NASA Moodboard">
                    <ul class="process__02__moodboard__descriptors list">
                        {{ range .Params.moodboard}}
                        <li class="list--item">{{ . }}</li>
                        <span>|</span>
                        {{ end }}
                    </ul>
            </div>

            <div class="process__02__competition">
                <h2>Competitive Review</h2>

                <div class="process__02__competition__cards">
                    <div class="process__02__competition__cards__card">
                        <img src="/images/project_01/comp_01.png" alt=""
                            class="process__02__competition__cards__card--img">
                        <h3 class="process__02__competition__cards__card--title">isstracker.com</h3>
                        <p>{{ .Params.competition.one }}</p>
                        <h5 class="footnote"><a href="#">isstracker.com</a></h5>
                    </div>
                    <div class="process__02__competition__cards__card">
                        <img src="/images/project_01/comp_02.png" alt=""
                            class="process__02__competition__cards__card--img">
                        <h3 class="process__02__competition__cards__card--title">Satflare</h3>
                        <p>{{ .Params.competition.two }}</p>
                        <h5 class="footnote"><a href="#">satflare.com</a></h5>
                    </div>
                </div>

            </div>

        </section>

        {{/*  03  */}}
        <section class="process__03" data-aos="fade-up">
            <h4 class="sm-head">03. Strategy: User Experience (UX)</h4>
            <h1 class="block-text">Thinking First</h1>
            <p>{{ .Params.process.step3 }}</p>

            <div class="process__03__blocks">

                <div class="process__03__blocks__block">
                    <img class="process__03__blocks__block--img"
                        src="https://miro.medium.com/max/7014/1*ndDyqbYVQ65XqkskxEFDnA.jpeg" alt="">
                    <h3 class="process__03__blocks__block--title">Information Architecture</h3>
                    <p>{{ .Params.infoArc }}</p>
                </div>
                <div class="process__03__block">
                    <img class="process__03__blocks__block--img"
                        src="https://www.ncad.ie/files/undergrad_files/Interaction_Design_2.jpg" alt="">
                    <h3 class="process__03__blocks__block--title">Interaction Design</h3>
                    <p>{{ .Params.interaction }}</p>
                </div>
        </section>

        {{/*  04  */}}
        <section class="process__04" data-aos="fade-up">
            <h4 class="sm-head">04. Design (UI)</h4>
            <h1 class="block-text">Designing Beyond Visuals</h1>
            <p>{{ .Params.process.step4 }}</p>

            <h2 class="process__04--title">Wireframes</h2>
            <div class="process__04__blocks">
                <div class="process__04__blocks__block">
                    <img class="process__04__blocks__block--img"
                        src="https://cdn.dribbble.com/users/137681/screenshots/2610309/wireframe_sketches.jpg" alt="">
                    <h4 class="process__04__blocks__block--title">Homepage</h4>
                </div>
                <div class="process__04__block">
                    <img class="process__04__blocks__block--img"
                        src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/110209662/original/146bd47df4bf0ae004c4cc6cf4d44d319bc52ddc/create-wireframes-for-your-digital-product.jpg"
                        alt="">
                    <h4 class="process__04__blocks__block--title">User interaction</h4>
                </div>
                <div class="process__04__block">
                    <img class="process__04__blocks__block--img"
                        src="https://previews.123rf.com/images/ismagilov/ismagilov1604/ismagilov160401319/55747986-businesswoman-hand-drawing-web-design-plan-scheme-on-grey-background.jpg"
                        alt="">
                    <h4 class="process__04__blocks__block--title">Digital rendition</h4>
                </div>
            </div>

            <div class="text-block">
                <h2 class="text-block--title">The importance of starting with the basics– shapes, Lorem Ipsum &
                    Helvetica </h2>
                <p class="text-block--para">It is often tempting to start too quickly adding in blocks of color, fancy
                    typefaces and beaufiful images,however, it is only when those vanish and one is left with the grey
                    dullness of blocks and lorem ipsum, thata designer can better view relationships between elements.
                    Striped away from visual design, all that is leftis the skeletal simplicity that will serve as the
                    backbone to support a highly crafted future design system.</p>
            </div>

            <h2 class="process__04--title">Design System</h2>

            <div class="process__04__system">
                <div class="process__04__system__section">
                    <div class="process__04__system__section__text">
                        <h3>Typeface</h3>
                        <p>A typeface can make or break a design. Without the proper type treatment or even typeface, a
                            design may lack the vibe that it is trying to induce</p>
                        <p>I chose Helvetica for this project to emphasize a Swiss/ modern feel as well as
                            professionally to the overall feel.</p>
                    </div>
                    <div class="process__04__system__section__graphics">
                        <h3 class="process__04__system__section__graphics--typeface">Helvetica</h3>
                        <h3 class="process__04__system__section__graphics">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h3>
                        <h3 class="process__04__system__section__graphics">abcdefghijklmnopqrstuvwkyz</h3>
                        <h3 class="process__04__system__section__graphics">01233456789</h3>
                        <h3 class="u-light">Light</h3>
                        <h3 class="u-med">Medium</h3>
                        <h3 class="u-bold">Bold</h3>
                    </div>
                </div>

                <div class="process__04__system__section">
                    <div class="process__04__system__section__text">
                        <h3>Color</h3>
                        <p>The types of color help evoke feelings, which in turn subtly or subconsciously lead the user
                            to a particular mindset and/ or action.</p>
                        <p>The color palette I choose consists of colors that evoke feelings of security, professionally
                            and wonderment. These help further the idea of the ISS as well as it accuracy of data</p>
                    </div>
                    <div class="process__04__system__section__colors">
                        <div class="colors one">#0366D6</div>
                        <div class="colors two">#0366D6</div>
                        <div class="colors three">#0366D6</div>
                        <div class="colors four">#FF7E67</div>
                    </div>
                </div>

                <div class="process__04__system__section">
                    <div class="process__04__system__section__text">
                        <h3>Graphics</h3>
                        <p>I chose to not included any photography as this web app is designed to focus on the location
                            of the ISS. Instead, I decided to use the entire view frame to set a map to emphasize the
                            importance of the mapping feature. </p>
                    </div>
                    <div class="process__04__system__section__img">
                        <img class="process__04__system__section__img--img" src="{{ .Params.designSystem.graphic}}"
                            alt="graphic image">
                        <h5 class="footnote">A card showcasing data from the ISS API</h5>
                    </div>
                </div>
            </div>
        </section>

        {{/*  05  */}}
        <section class="process__05" data-aos="fade-up">
            <h4 class="sm-head">05. Development (software)</h4>
            <h1 class="block-text">Putting it all Together</h1>
            <p>{{ .Params.process.step5 }}</p>

            <div class="process__05__technologies">
                <h2 class="process__05__technologies--title">Technologies/ Services</h2>
                <ul class="list process__05__technologies__block">
                    <li class="list--item"><img src="/icons/js-icon.png" alt="">JS</li>
                    <li class="list--item"><img src="/icons/html-icon.png" alt="">HTML</li>
                    <li class="list--item"><img src="/icons/sass-icon.png" alt="">CSS</li>
                    <li class="list--item"><img src="/icons/css-icon.png" alt="">SASS</li>
                    <li class="list--item">Git/ Github</li>
                    <li class="list--item">Netlify</li>
                </ul>
            </div>

            <div class="process__05__features">
                <h2 class="process__05__technologies--title">Features & Methodologies</h2>
                <ul class="list process__05__features__list">
                    {{ range .Params.features }}
                    <li class="list--item">
                        <h3>{{ .title }}</h3>
                        {{ range .description }}
                        <p>{{ .title }}</p>
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </section>

        {{/*  THE RESULTS  */}}
        <section class="results" data-aos="fade-up">
            <h4 class="sm-head">The Results</h4>
            <h1 class="block-text">Letting the Results Speak for Themselves</h1>

            <div class="results__images">
                <img src="{{ .Params.results.image}}" alt="">
            </div>
        </section>

        {{ partial "nextPrevNav" . }}

</main>

{{ end }}