@import "components/animations";
@import "components/about";
@import "components/base";
@import "components/blog";
@import "components/card";
@import "components/error";
@import "components/footer";
@import "components/home";
@import "components/nav";
@import "components/page_counter";
@import "components/project_page";
@import "components/prevNextNav.scss";
@import "components/projects";
@import "components/socials";
@import "components/typography";
@import "components/utilities";

@import "/hamburgers/hamburgers";

