@keyframes fadeIn {
    0% {
        filter: blur(30px);
        opacity: 0;
        transform: translateY(20px);
    }

    80% {
        filter: blur(0px);
        transform: translateY(0);
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes fadeInSlow{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: .6s;
    transition-timing-function: ease-in-out;
}

// .fade-in-slow {
//     animation-name: fadeInSlow;
//     animation-duration: 1s;
//     animation-timing-function: cubic-bezier(.19,1.03,.32,1.28);
// }

@keyframes FadeIn { 
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
.home__container__cards .home__card {
    float: left;
    animation: FadeIn 1s cubic-bezier(.58,.75,.06,1.48);
    animation-fill-mode: both;
  }
  
  @for $i from 1 through 4 {
      .home__container__cards .home__card:nth-child(#{$i}n) {
          animation-delay: #{$i * 0.2}s;
      }
  }
