.blog__container {
    padding: 30px;

    &--title {
        font-size: 32px;
        margin-bottom: 30px;
        color: var(--color-text-main);
    }

    &--description {
        margin-bottom: 30px;
        color: var(--color-text-main);
    }
}

.posts {

    &__post {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
        align-items: center;
        background-color: var(--color-secondary);
        margin: 30px 0;
        padding: 40px;

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }


        &__text {
            display: grid;
            gap: 20px;

            &--title {
                color: var(--color-text-main);
            }

            &--description {
                color: var(--color-tertiary);
                line-height: 1.8;
            }

            &--date {
                color: var(--color-tertiary);
                font-weight: 400;
            }
        }

        &--link {
            color: white;
            background-color: transparent;
            border: 1px solid white;
            padding: 10px 30px;
            justify-self: end;
            transition: all .3s;

            &:hover {
                color: black;
                transform: translateX(3px);
                border: 1px solid white;
                background-color: white;
            }

            @media (max-width: 767px) {
                justify-self: start;
            }
        }
    }
}