.home__container {
    height: auto;
    padding: 30px;

    &--intro {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 600;
        font-size: 48px;
        line-height: 1.25;
        color: var(--color-text-main);

        @media (max-width: 414px) {
            font-size: 36px;
        }
    }

    &--socials {
        margin-top: 5rem;
        font-weight: 600;
    }

    &__cards {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 1.5rem;
    }
}