.social__container {
    display: flex;
    justify-content: space-around;

    &--link {
        color: var(--color-tertiary);
        font-size: 18px;
        transition: all .2s ease-in-out;
        padding: 3px;
        border: 2px dotted var(--color-primary);

        &:hover {
            transform: translateY(-.2rem);
            padding: 3px;
            border: 2px dotted var(--color-tertiary);
        
            path {
                fill: var(--color--text-main);
                transition: all .2s ease-in-out;
           }
        }
    }

    svg {
     width: 50px;
     height:50px;
    
        path {
             fill: var(--color-tertiary);
        }
    }
    
}

