p {
    font-size: 18px;
    line-height: 1.7;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
h1{
    margin-bottom: 20px;
}
h2 {
    font-size: 26px;
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 15px;
}

.sm-head {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;

    @media (max-width: 767px) {
        font-size: 18px;
    }
}

.block-text {
    font-size: 76px;
    margin-bottom: 20px;

    @media (max-width: 767px) {
        font-size: 36px;
    }
}

.list {

    &--item {
        margin-bottom: 15px;
    }

    &--title {
        margin-bottom: 20px;
    }
}

.footnote {
    margin-top: 20px;
    color: rgba(black, .4);
}