.u-light {
    font-weight: 400;
}

.u-med {
    font-weight: 600;
}

.u-bold {
    font-weight: 900;
}

.u-helvetica {
    font-family: helvetica;
}

.underline--magical {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: 0 90%;
    transition: background-size 0.25s ease-in-out;

    &:hover {
        background-size: 100% 88%;
    }
}

.highlight {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(218, 255, 97) 0%, rgb(253, 248, 196) 50% );
}